.projects {
    position: relative;

    &__inner {
        grid-template-columns: auto auto;
        grid-template-rows: [line1-start] minmax(362 * 100vw / 1920, auto) [line1-end] minmax(288 * 100vw / 1920, auto) [end-section];

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 500px auto;
        }

        @media (max-width: 767px) {
            display: block;
        }
    }

    // .projects__title

    &__title {
        position: absolute;
        top: 47 * 100vw / 1920;
        left: 0;
        z-index: 100;
        width: 320 * 100vw / 1920;
        padding: 19 * 100vw / 1920 32 * 100vw / 1920;
        display: flex;
        justify-content: flex-end;

        @media(max-width: 992px) {
            width: 320px;
            top: 47px;
            padding: 19px 32px;
        }

        @media (max-width: 767px) {
            width: 197px;
            padding: 11px 34px;
            justify-content: center;
            top: 46px;
        }
    }

    &__slider {
        position: relative;
    }

    &__slider-bottom {
        position: absolute;
        left: 25 * 100vw / 1920;
        right: -24 * 100vw / 1920;
        bottom: 32 * 100vw / 1920;
        @include flex;
        align-items: flex-end;

        @media(max-width: 992px) {
            left: 20px;
            right: -20px;
        }
    }

    &__item {
        &:nth-child(1) {
            grid-row: 1 / 3;

            @media (max-width: 992px) {
                grid-row: 1 / 2;
            }
        }

        &:nth-child(2) {
            background: $dark-gradient;
            color: #fff;
            padding: 35 * 100vw / 1920 60 * 100vw / 1920 60 * 100vw / 1920;
            grid-row: line1-start / line1-end;

            @media (max-width: 992px) {
                grid-row: 1 / 2;
            }

            @media (max-width: 767px) {
                padding: 28px 20px 37px;
            }
        }

        &:nth-child(3) {
            background: #f2f2f2;
            padding: 96 * 100vw / 1920 60 * 100vw / 1920 108 * 100vw / 1920;
            grid-row: line1-end / end-section;

            @media (max-width: 992px) {
                grid-row: 2 / 3;
                grid-column: 1 / 3;
                padding: 29px 20px;
            }
        }
    }

    // .projects__slider

    &__slider {
        position: relative;
        width: 600 * 100vw / 1920;
        height: 100%;

        @media (max-width: 992px) {
            width: 50vw;
        }

        @media (max-width: 767px) {
            width: 100%;
            height: 411px;
        }
    }

    // .projects__link

    &__link {
        padding-right: 80 * 100vw / 1920;

        @media(max-width: 992px) {
            padding-right: 80px;
        }

        &:before {
            right: 33 * 100vw / 1920;
            font-size: 12 * 100vw / 1920;

            @media(max-width: 992px) {
                right: 33px;
                font-size: 12px;
            }
        }
    }

    // .projects__list-descr

    &__list-descr {
        margin-bottom: 34 * 100vw / 1920;

        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 20px;
        }
    }

    // .projects__list-item

    &__list-item {
        position: relative;
        padding-left: 27 * 100vw / 1920;

        @media(max-width: 992px) {
            padding-left: 27px;
        }

        @media (max-width: 575px) {
            font-size: 16px;
            line-height: 19px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 9 * 100vw / 1920;
            left: 0;
            width: 16 * 100vw / 1920;
            height: 1 * 100vw / 1920;
            background-color: $accent;

            @media(max-width: 992px) {
                top: 9px;
                width: 16px;
                height: 1px;
            }
        }
    }

    &__list-item+&__list-item {
        margin-top: 10 * 100vw / 1920;

        @media(max-width: 992px) {
            margin-top: 10px;
        }
    }

    &__text {
        max-width: 795 * 100vw / 1920;

        @media(max-width: 992px) {
            max-width: 100%;
        }

        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.projects-slider {
    // .projects-slider__item

    &__item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: 992px) {
            height: 500px;
        }

        @media (max-width: 767px) {
            width: 100%;
            height: 411px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__btn {
        position: relative;
        border: 1px solid $accent;

        &:before {
            @include centerXY;
            font-size: 20 * 100vw / 1920;
            color: $accent;

            @media(max-width: 992px) {
                font-size: 20px;
            }

            @media (max-width: 767px) {
                font-size: 15px;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $accent;
                border: none;

                &:before {
                    color: #000;
                }
            }
        }

        &--prev {
            @media (any-hover: hover) {
                &:hover {
                    transform: rotate(-360deg);
                }
            }
        }

        &--next {
            @media (any-hover: hover) {
                &:hover {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.projects-page {
    background-color: $dark-bg;
    padding-bottom: 66 * 100vw / 1920;

    @media(max-width: 992px) {
        padding-bottom: 50px;
    }

    .pagination {
        color: #fff;
        padding-top: 72px;

        @media(max-width: 992px) {
            padding-top: 50px;
        }

        @media(max-width: 575px) {
            padding-top: 30px;
        }
    }

    &__title {
        margin-bottom: 49 * 100vw / 1920;
    }

    &__content {
        padding-left: 94 * 100vw / 1920;
        padding-right: 40 * 100vw / 1920;

        @media (max-width: 992px) {
            padding: 0 20px;
        }
    }

    &__pagination {
        margin-top: 72 * 100vw / 1920;
        color: #fff;
    }
}

.project-item {
    @media(min-width: 992px) {
        @include flex;
    }

    &__gallery {
        width: 600 * 100vw / 1920;

        @media(max-width: 992px) {
            width: 100%;
        }
    }

    &__slider {
        width: 100%;
        margin-bottom: 17 * 100vw / 1920;

        .slick-slide img {
            @media (max-width: 992px) {
                width: 100%;
            }
        }
    }

    &__slider-item {
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }

    &__nav-slider {
        margin: 0 -10 * 100vw / 1920;

        @media(max-width: 992px) {
            margin: 0 -10px;
        }

        @media(max-width: 767px) {
            margin: 0 -5px;
        }

        .slick-track {
            @include flex;
            transform: none !important;

            @media(max-width: 992px) {
                width: 100% !important;
            }
        }

        .slick-slide {
            img {
                width: 100%;
            }
        }
    }

    &__nav-slider-item {
        cursor: pointer;
        margin: 0 10 * 100vw / 1920;

        @media(max-width: 992px) {
            margin: 0 10px;
        }

        @media(max-width: 767px) {
            margin: 0 5px;
        }
    }

    &__info {
        width: 909 * 100vw / 1920;
        color: #fff;

        @media(min-width: 992px) {
            @include column;
            justify-content: space-between;
        }

        @media (max-width: 992px) {
            width: 100%;
            margin-top: 30px;
        }
    }

    &__title {
        @media(max-width: 992px) {
            font-size: 20px;
            line-height: 23px;
        }

        @media (max-width: 575px) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__list {
        margin-top: 42 * 100vw / 1920;

        @media(max-width: 992px) {
            margin-top: 30px;
        }
    }

    &__list-item {
        @media(min-width: 575px) {
            display: flex;
        }

        dt {
            min-width: 112 * 100vw / 1920;
            font-weight: 700;

            @media(max-width: 992px) {
                min-width: 112px;
            }

            @media(max-width: 575px) {
                font-size: 16px;
            }
        }

        dd {
            display: inline-block;
            line-height: 26 * 100vw / 1920;
            margin-left: 42 * 100vw / 1920;

            @media (max-width: 992px) {
                margin-left: 30px;
                line-height: 26px;
                font-size: 16px;
            }

            @media(max-width: 575px) {
                font-size: 14px;
                margin-left: 0;
            }
        }
    }

    &__list-item+&__list-item {
        margin-top: 44 * 100vw / 1920;

        @media (max-width: 992px) {
            margin-top: 20px;
        }

        @media(max-width: 575px) {
            margin-top: 10px;
        }
    }

    &__btn {
        @include flex-end;
        padding-right: 80 * 100vw / 1920;

        @media(max-width: 992px) {
            padding-right: 80px;
        }

        &:before {
            right: 33 * 100vw / 1920;

            @media(max-width: 992px) {
                right: 33px;
            }
        }
    }
}

.project-item+.project-item {
    padding-top: 120 * 100vw / 1920;

    @media (max-width: 992px) {
        padding-top: 50px;
    }
}