.slider {
    &__btn {
        position: absolute;
        z-index: 99;
        background-color: transparent;
        transition: 0.5s ease all;

        &:before {
            @include centerXY;
        }
    }
}

.slider-arrows {
    width: 183 * 100vw / 1920;
    height: 80 * 100vw / 1920;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 23 * 100vw / 1920;

    @media(max-width: 992px) {
        width: 62px * 2 + 9px;
        height: 62px;
        grid-gap: 9px;
    }
}

.slick-slide {
    outline: none;
}

.slider-controls {
    display: flex;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
    width: 35 * 100vw / 1920;
    height: 35 * 100vw / 1920;

    @media(max-width: 992px) {
        width: 35px;
        height: 35px;
    }

    &:after {
        font-size: 21 * 100vw / 1920;

        @media(max-width: 992px) {
            font-size: 21px;
        }
    }

    @media (max-width: 575px) {
        bottom: 29px;
    }
}

.swiper-button-prev {
    margin-top: 0;

    @media (max-width: 575px) {
        left: 77px / 375px * 100%;
    }

    @media (max-width: 375px) {
        left: 50px;
    }
}

.swiper-button-next {
    margin-top: 0;

    @media (max-width: 575px) {
        right: 77px / 375px * 100%;
    }

    @media (max-width: 375px) {
        right: 50px;
    }
}

.swiper-scrollbar {
    position: relative;
    width: 146 * 100vw / 1920;
    height: 3 * 100vw / 1920;
    background: #c4c4c4;
    border-radius: 10px;
    margin: 0 2 * 100vw / 1920;

    @media(max-width: 992px) {
        width: 146px;
        height: 3px;
        margin: 0 2px;
    }
}

.swiper-scrollbar-drag {
    position: absolute;
    top: -1 * 100vw / 1920;
    bottom: -1 * 100vw / 1920;
    left: 0;
    background: $accent;
    border-radius: 10px;
    width: 26 * 100vw / 1920 !important;
    height: 5 * 100vw / 1920;

    @media(max-width: 992px) {
        top: -1px;
        bottom: -1px;
        width: 26px !important;
        height: 5px;
    }
}

.swiper-pagination-fraction {
    position: static;
    font-size: 14 * 100vw / 1920;
    line-height: 16 * 100vw / 1920;
    color: #c4c4c4;

    @media(max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
    }
}