.section-title {
    font-size: 36 * 100vw / 1920;
    line-height: 42 * 100vw / 1920;

    @media (max-width: 992px) {
        font-size: 24px;
        line-height: 28px;
    }

    &--bg {
        background-color: $black-bg;
        color: #fff;
    }

    &--white {
        color: #fff;
    }
}

.page-title {
    @extend .section-title;
    background-color: $black-bg;
    color: #fff;
    width: 404 * 100vw / 1920;
    @include flex-end;
    padding: 10 * 100vw / 1920 25 * 100vw / 1920;

    @media (max-width:575px) {
        width: 240px;
        padding: 8px 20px;
        font-size: 24px;
        line-height: 28px;
        justify-content: flex-start;
    }
}

.title {
    font-size: 30 * 100vw / 1920;
    line-height: 35 * 100vw / 1920;

    @media(max-width: 992px) {
        font-size: 25px;
        line-height: 30px;
    }

    @media(max-width: 575px) {
        font-size: 18px;
        line-height: 21px;
    }
}