.section-title {
    font-size: 36px;
    line-height: 42px;

    @media (max-width:767px) {
        font-size: 24px;
        line-height: 28px;
    }

    &--bg {
        background-color: $black-bg;
        color: #fff;
    }

    &--white {
        color: #fff;
    }
}

.page-title {
    background-color: $black-bg;
    color: #fff;
    width: 404px;
    @include flex-end;
    padding: 10px 25px;

    @media (max-width:575px) {
        width: 240px;
        padding: 8px 20px;
        font-size: 24px;
        line-height: 28px;
        justify-content: flex-start;
    }
}

.title {
    font-size: 30px;
    line-height: 35px;
}