.menu {
    background-color: $accent;
    padding: 20 * 100vh / 1000 44 * 100vw / 1920;

    @media (max-width: 992px) {
        display: none;
    }

    // .header__menu-list

    &__list {
        @media (max-width:992px) {
            @include column;
            align-items: flex-end;
        }
    }

    // .header__menu-item

    &__item+&__item {
        margin-top: 20 * 100vh / 1000;

        @media (max-width:992px) {
            margin-top: 23px;
        }
    }

    // .header__menu-link

    &__link {
        font-weight: 300;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 1 * 100vh / 1000;
            background-color: #000;
            transition: .3s ease;

            @media (max-width: 992px) {
                display: none;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }

        @media (max-width: 992px) {
            font-weight: 400;
            color: #000;
        }
    }
}