.partners {
    background-color: $accent;
    padding: 60px 63px;

    @media (max-width: 1200px) {
        padding: 30px;
    }

    @media (max-width: 767px) {
        padding: 20px 20px 45px;
    }

    // .partners__title

    &__title {
        text-align: center;
        margin-bottom: 56px;

        @media (max-width: 767px) {
            margin-bottom: 50px;
            text-align: left;
        }

        @media (max-width: 375px) {
            text-align: center;
        }
    }

    // .partners__items

    &__items {
        @include flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        width: 50%;
        margin-bottom: 41px;
        display: flex;
        justify-content: center;

        @media (max-width: 375px) {
            width: 100%;
            margin-bottom: 20px;
        }

        &:nth-child(1) {
            @media (max-width: 575px) {
                order: 4;
                margin-bottom: 0;
            }
        }

        &:nth-child(2) {
            @media (max-width: 575px) {
                order: 1;
            }
        }

        &:nth-child(3) {
            @media (max-width: 575px) {
                order: 3;
            }

            @media (max-width: 375px) {
                margin-bottom: 46px;
            }
        }

        &:nth-child(4) {
            @media (max-width: 575px) {
                order: 2;
            }
        }

        &:nth-child(3),
        &:nth-child(4) {
            margin-bottom: 0;
        }

        &:nth-child(even) {
            @media (max-width: 767px) {
                margin-bottom: 46px;
            }
        }
    }
}
