<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "О компании"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/sidebar/_sidebar.html')

        <main class="page about">
            @@include('../../blocks/modules/header/_header.html')
            @@include('../../blocks/modules/mobile-menu/_mob-menu.html')
            <div class="about-promo">
                <nav class="breadcrumbs breadcrumbs--white">
                    <ol class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">Главная</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span>О нас</span>
                        </li>
                    </ol>
                </nav>

                <div class="page__header about__header">
                    <h1 class="page-title section-title">О нас</h1>
                    <div class="title about__title">
                        Комплексный ремонт: офисов, квартир, домов, ресторанов, магазинов, клубов
                    </div>
                </div>
                <div class="about__content">
                    <div class="about__text">
                        <p>
                            Evrootdelka.by - это компания специалистов, которая изменит интерьер Вашей квартиры. Мы
                            делаем
                            ремонт квартир "под ключ", мы не занимаемся работами, связанными с переделками чужих работ.
                            Ремонт мы выполняем качественно и профессионально, о чем свидетельствуют отзывы наших
                            клиентов.
                            Для каждого заказа мы подходим индивидуально, так, чтобы на 100% раскрыть образы, и Ваши
                            ожидания о современном ремонте.
                        </p>
                        <p>
                            Наша Компания делает ставку на постоянное развитие в области новых материалов и решений,
                            связанных с отделочными работами. Работа уже стала для нашей компании частью жизни,
                            увлечением,
                            образом жизни. К каждому заказу мы подходим индивидуально, стараемся всегда узнать ожидания
                            клиентов в области ремонтов и отделки, так, чтобы каждый с удовольствием к нам возвращался,
                            и с
                            чистой совестью могли нас рекомендовать.
                        </p>
                        <p>
                            Если вы хотите сделать капитальный ремонт старой квартиры, комнаты или сделать ремонт в
                            новой
                            квартире – позвоните нам и договоритесь с нами о встрече. Мы подготовим специально для Вас
                            бесплатную консультацию, поможем в выборе подходящих материалов, необходимых для проведения
                            работ. 
                        </p>
                    </div>
                    @@include('../../blocks/modules/about/about-slider/_about-slider.html')
                </div>
                <a href="services.html" class="button about__btn icon-arr-r">
                    Все услуги
                </a>
            </div>

            @@include('../../blocks/modules/about/about-benefits/_about-benefits.html')

            @@include('../../blocks/modules/projects/_projects.html')
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

    </div>

    @@include('../_js.html')

</body>

</html>