<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Статья"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/sidebar/_sidebar.html')

        <main class="page p-article">
            @@include('../../blocks/modules/header/_header.html')
            @@include('../../blocks/modules/mobile-menu/_mob-menu.html')
            <nav class="breadcrumbs">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="index.html">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="articles.html">Полезные статьи</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span>Статья</span>
                    </li>
                </ol>
            </nav>

            <article>
                <div class="page__header p-article__header">
                    <h1 class="page-title section-title">Статья</h1>
                    <div class="p-article__head">
                        <h2 class="p-article__title section-title">Мох в домашнем интерьере </h2>
                        <time class="date p-article__date" datetime="2018-01-18">21 января 2018</time>
                    </div>
                </div>

                <div class="p-article__content">
                    <p>
                        Декоративный мох может стать поистине необыкновенным и захватывающим дух украшением для
                        интерьера.
                        Его можно использовать как-угодно: украшать кусочками, создавая причудливые формы и элементы,
                        или же
                        брать цельными крупными кусками.
                    </p>

                    <section class="p-article__item">
                        <h6>
                            Мох в домашнем интерьере
                        </h6>
                        <p>
                            Мох можно уместить не только в специальный декоративный огромный сосуд, им можно украсить
                            даже
                            обычные емкости, которые вы можете сделать своими руками. Наиболее частое применение
                            декоративного
                            мха:
                        </p>
                        <ul class="list p-article__list">
                            <li> для декоративного украшения глиняных вазонов;</li>
                            <li>декоративный мох для украшения стеклянных емкостей;</li>
                            <li>декоративные подносы из мха в интерьере;</li>
                            <li>для декора растений.</li>
                        </ul>
                        <p>
                            Мох является изюминкой в интерьере дома. Кусочек леса всегда благоприятно сказывается на
                            вашем
                            здоровье. К тому же он еще и радует глаз.
                        </p>
                    </section>

                    <section class="p-article__item">
                        <h6>
                            Мох для кашпо
                        </h6>
                        <p>
                            Глина имеет коричневый цвет, и будь то глянцевое или матовое покрытие такого вазона, мох
                            отлично
                            будет сочетаться с ним. А кашпо своими руками из мха сделать очень просто. Обычный клей ПВА
                            будет держать мох на вазоне долгое время.
                        </p>
                    </section>

                    <section class="p-article__item">
                        <h6>
                            Мох декоративный для стеклянных емкостей
                        </h6>
                        <p>
                            Стекло, как вы знаете, прозрачное, потому подход тут нужен особенный. Возьмите красивую
                            баночку
                            или
                            округлый аквариум, разместите на дне немного земли, а сверху разложите мох. Делать это
                            следует
                            так,
                            чтобы мох располагался на нижней части емкости, а не в самом верху, ведь толстый слой земли
                            испортит
                            весь вид
                        </p>
                    </section>

                    <section class="p-article__item">
                        <h6>
                            Декоративные подносы из мха в интерьере
                        </h6>
                        <p>
                            Если поднос вы не используете, можно украсить его мхом. Такой декоративный элемент будет
                            отлично
                            смотреться, если в подносе проделать дырочки в районе углов. В дырке можно продеть веревки,
                            с
                            помощью которых поднос привязывается к чему-нибудь вверху. Веревки можно свести в одной
                            точке, а
                            можно и оставить под прямым углом.
                        </p>
                        <img class="p-article__img" src="img/articles/article.jpg" alt="Декоративный мох">
                    </section>

                    <section class="p-article__item">
                        <h6 class="article__content-title">
                            Декоративный мох в интерьере для декора растений
                        </h6>
                        <p>
                            Мох в интерьере отлично смотрится, если его использовать прямо в вазах с цветами. Многие
                            задумываются, не навредит ли
                            это цветам, да и сомневаются, как тогда производить полив, нужно ли больше воды, или меньше.
                            На
                            самом деле мох не
                            требует особого ухода, он не способен навредить вашим цветам. Корней у мха практически нет,
                            что
                            не создаст никакого
                            дискомфорта любимому растению в горшке.
                        </p>
                        <p>
                            Чтобы мох в горшке смотрелся не просто красиво, но и необычно, сделайте грунт горшка
                            неровным,
                            бугристым. Это отлично подойдет для растений, которые стоят на полу, возле стены. Желательно
                            подобрать такой цветок, который растет в большом горшке, чтобы места для проявления фантазии
                            было
                            больше.
                        </p>
                    </section>

                    <a href="articles.html" class="button p-article__btn icon-arr-r">
                        Вернуться к статьям
                    </a>
                </div>
            </article>

            <a href="articles.html" class="button p-article__btn icon-arr-r mobile">
                Вернуться к статьям
            </a>

        </main>

        @@include('../../blocks/modules/footer/_footer.html')

    </div>

    @@include('../_js.html')

</body>

</html>