<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>

    <div class="page">
        @@include('../../blocks/modules/sidebar/_sidebar.html')

        <section class="section masters-page">
            @@include('../../blocks/modules/header/_header.html')
            @@include('../../blocks/modules/mobile-menu/_mob-menu.html')
            <nav class="breadcrumbs breadcrumbs--black">
                <a class="breadcrumbs__item" href="index.html">Главная</a>
                <span class="breadcrumbs__item-divider">/</span>
                <span class="breadcrumbs__item">Мастера</span>
            </nav>
            <div class="page__header masters-page__header">
                <h1 class="page-title section-title masters-page__title">Мастера</h1>
                <div class="tabs masters-page__tabs">
                    <div class="tabs__line">
                        <a href="#masters-tab-1" class="tab masters__tab">Дизайн</a>
                        <a href="#masters-tab-2" class="tab masters__tab">Проектирование</a>
                        <a href="#masters-tab-3" class="tab masters__tab">Демонтаж</a>
                        <a href="#masters-tab-4" class="tab masters__tab tab--active">Строительство</a>
                        <a href="#masters-tab-5" class="tab masters__tab">Каменщики</a>
                        <a href="#masters-tab-6" class="tab masters__tab">Плиточники</a>
                        <a href="#masters-tab-7" class="tab masters__tab">Натяжники</a>
                        <a href="#masters-tab-8" class="tab masters__tab">Уборка</a>
                        <a href="#masters-tab-9" class="tab masters__tab">Художники</a>
                        <a href="#masters-tab-10" class="tab masters__tab">Установка дверей</a>
                    </div>
                    <div class="tabs__line">
                        <a href="#masters-tab-11" class="tab masters__tab">Сантехники</a>
                        <a href="#masters-tab-12" class="tab masters__tab">Электрики</a>
                        <a href="#masters-tab-13" class="tab masters__tab">Штукатуры</a>
                        <a href="#masters-tab-14" class="tab masters__tab">Маляры</a>
                        <a href="#masters-tab-15" class="tab masters__tab">Столяры</a>
                        <a href="#masters-tab-16" class="tab masters__tab">Декоративщики</a>
                        <a href="#masters-tab-17" class="tab masters__tab">Канализация</a>
                        <a href="#masters-tab-18" class="tab masters__tab">Паркетчики</a>
                        <a href="#masters-tab-19" class="tab masters__tab">Грузчики</a>
                    </div>
                </div>
                <input type="text" class="masters-page__search-input" placeholder="Выберите область...">
            </div>

            <div id="masters-tab-1" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-4.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Денис Пасека</div>
                        <div class="master__descr master__category">
                            Прораб<br>
                            Строительство домов
                        </div>
                        <a href="tel:+375447690010" class="master__descr master__phone">+375 (44) 769-00-10</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-5.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Наталья Хотулева</div>
                        <div class="master__descr master__category">Дизайнер</div>
                        <a href="tel:" class="master__descr master__phone"></a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-6.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Егор</div>
                        <div class="master__descr master__category">Электрик</div>
                        <a href="tel:+375296800982" class="master__descr master__phone">+375 (29) 680-09-82</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-2" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-12.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Иван Сысоев</div>
                        <div class="master__descr master__category">Стяжечник</div>
                        <a href="tel:+375447544410" class="master__descr master__phone">+375 (44) 754-44-10</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-13.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Игорь Карнилович</div>
                        <div class="master__descr master__category">Отделка </div>
                        <a href="tel:+375296618596" class="master__descr master__phone">+375 (29) 661-85-96</a>
                        <a href="tel:+375297697059" class="master__descr master__phone">+375 (29) 769-70-59</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-14.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Виктор Апанасович</div>
                        <div class="master__descr master__category">Плиточник</div>
                        <a href="tel:+375291252993" class="master__descr master__phone">+375 (29) 125-29-93</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-15.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Юрий Грек</div>
                        <div class="master__descr master__category">Отделка</div>
                        <a href="tel:+375291518467" class="master__descr master__phone">+375 (29) 151-84-67</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-3" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-10.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Алексей Макаров</div>
                        <div class="master__descr master__category">Инженер-электрик</div>
                        <a href="tel:+375447853109" class="master__descr master__phone">+375 (44) 785-31-09</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-11.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Евгений Даутян</div>
                        <div class="master__descr master__category">Отделка</div>
                        <a href="tel:+375293275978" class="master__descr master__phone">+375 (29) 327-59-78</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-12.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Иван Сысоев</div>
                        <div class="master__descr master__category">Стяжечник</div>
                        <a href="tel:+375447544410" class="master__descr master__phone">+375 (44) 754-44-10</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-4" class="tabs__content masters__cards grid tabs__content--active">
                <div class="masters__card master">
                    <img src="img/masters/master-1.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Валентин Улановский</div>
                        <div class="master__descr master__category">
                            Электромонтаж<br>
                            Инженер-электрик
                        </div>
                        <a href="tel:+375298840734" class="master__descr master__phone">+375 (29) 884-07-34</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-2.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Вероника Зазнова</div>
                        <div class="master__descr master__category">Дизайнер</div>
                        <a href="tel:+375447144087" class="master__descr master__phone">+375 (44) 714-40-87</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-3.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Анатолий Буяльский</div>
                        <div class="master__descr master__category">Электрик</div>
                        <a href="tel:+375291029897" class="master__descr master__phone">+375 (29) 102-98-97</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-4.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Денис Пасека</div>
                        <div class="master__descr master__category">
                            Прораб<br>
                            Строительство домов
                        </div>
                        <a href="tel:+375447690010" class="master__descr master__phone">+375 (44) 769-00-10</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-5.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Наталья Хотулева</div>
                        <div class="master__descr master__category">Дизайнер</div>
                        <a href="tel:" class="master__descr master__phone"></a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-6.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Егор</div>
                        <div class="master__descr master__category">Электрик</div>
                        <a href="tel:+375296800982" class="master__descr master__phone">+375 (29) 680-09-82</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-8.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Андрей Даутян</div>
                        <div class="master__descr master__category">Отделка</div>
                        <a href="tel:+375293917028" class="master__descr master__phone">+375 (29) 391-70-28</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-9.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Андрей Мишин</div>
                        <div class="master__descr master__category">Сантехник</div>
                        <a href="tel:+375297511205" class="master__descr master__phone">+375 (29) 751-12-05</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-10.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Алексей Макаров</div>
                        <div class="master__descr master__category">Инженер-электрик</div>
                        <a href="tel:+375447853109" class="master__descr master__phone">+375 (44) 785-31-09</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-11.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Евгений Даутян</div>
                        <div class="master__descr master__category">Отделка</div>
                        <a href="tel:+375293275978" class="master__descr master__phone">+375 (29) 327-59-78</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-12.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Иван Сысоев</div>
                        <div class="master__descr master__category">Стяжечник</div>
                        <a href="tel:+375447544410" class="master__descr master__phone">+375 (44) 754-44-10</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-13.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Игорь Карнилович</div>
                        <div class="master__descr master__category">Отделка </div>
                        <a href="tel:+375296618596" class="master__descr master__phone">+375 (29) 661-85-96</a>
                        <a href="tel:+375297697059" class="master__descr master__phone">+375 (29) 769-70-59</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-14.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Виктор Апанасович</div>
                        <div class="master__descr master__category">Плиточник</div>
                        <a href="tel:+375291252993" class="master__descr master__phone">+375 (29) 125-29-93</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-15.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Юрий Грек</div>
                        <div class="master__descr master__category">Отделка</div>
                        <a href="tel:+375291518467" class="master__descr master__phone">+375 (29) 151-84-67</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-5" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-1.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Валентин Улановский</div>
                        <div class="master__descr master__category">
                            Электромонтаж<br>
                            Инженер-электрик
                        </div>
                        <a href="tel:+375298840734" class="master__descr master__phone">+375 (29) 884-07-34</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-6.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Егор</div>
                        <div class="master__descr master__category">Электрик</div>
                        <a href="tel:+375296800982" class="master__descr master__phone">+375 (29) 680-09-82</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-9.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Андрей Мишин</div>
                        <div class="master__descr master__category">Сантехник</div>
                        <a href="tel:+375297511205" class="master__descr master__phone">+375 (29) 751-12-05</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-6" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-8.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Андрей Даутян</div>
                        <div class="master__descr master__category">Отделка</div>
                        <a href="tel:+375293917028" class="master__descr master__phone">+375 (29) 391-70-28</a><a
                            href="#" class="button master__btn"><span class="button__inner">Подробнее</span></a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-9.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Андрей Мишин</div>
                        <div class="master__descr master__category">Сантехник</div>
                        <a href="tel:+375297511205" class="master__descr master__phone">+375 (29) 751-12-05</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-10.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Алексей Макаров</div>
                        <div class="master__descr master__category">Инженер-электрик</div>
                        <a href="tel:+375447853109" class="master__descr master__phone">+375 (44) 785-31-09</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-11.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Евгений Даутян</div>
                        <div class="master__descr master__category">Отделка</div>
                        <a href="tel:+375293275978" class="master__descr master__phone">+375 (29) 327-59-78</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-12.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Иван Сысоев</div>
                        <div class="master__descr master__category">Стяжечник</div>
                        <a href="tel:+375447544410" class="master__descr master__phone">+375 (44) 754-44-10</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-13.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Игорь Карнилович</div>
                        <div class="master__descr master__category">Отделка </div>
                        <a href="tel:+375296618596" class="master__descr master__phone">+375 (29) 661-85-96</a>
                        <a href="tel:+375297697059" class="master__descr master__phone">+375 (29) 769-70-59</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-14.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Виктор Апанасович</div>
                        <div class="master__descr master__category">Плиточник</div>
                        <a href="tel:+375291252993" class="master__descr master__phone">+375 (29) 125-29-93</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="masters__card master">
                    <img src="img/masters/master-15.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Юрий Грек</div>
                        <div class="master__descr master__category">Отделка</div>
                        <a href="tel:+375291518467" class="master__descr master__phone">+375 (29) 151-84-67</a>
                        <a href="#" class="button master__btn">
                            <span class="button__inner">Подробнее</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-6" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-7" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-8" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-9" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-10" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-11" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-12" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-13" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-14" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-15" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-16" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-17" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-18" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div id="masters-tab-19" class="tabs__content masters__cards grid">
                <div class="masters__card master">
                    <img src="img/masters/master-7.jpg" alt="" class="master__photo">
                    <div class="master__info">
                        <div class="master__name">Илья Гриневич</div>
                        <div class="master__descr master__category">Строительство</div>
                        <a href="tel:+375291256423" class="master__descr master__phone">+375 (29) 125-64-23</a>
                        <a href="#" class="button master__btn icon-arr-r">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        </section>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>