<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Мастера"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/sidebar/_sidebar.html')

        <div class="page masters-page">
            @@include('../../blocks/modules/header/_header.html')
            @@include('../../blocks/modules/mobile-menu/_mob-menu.html')
            <nav class="breadcrumbs">
                <a class="breadcrumbs__item" href="index.html">Главная</a>
                <span class="breadcrumbs__item">Мастера</span>
            </nav>
            <div class="page__header masters-page__header">
                <h1 class="page-title section-title masters-page__title">Мастера</h1>
                <div class="tabs masters-page__tabs">
                    <div class="tabs__line">
                        <a href="#masters-tab-1" class="tab masters__tab">Дизайн</a>
                        <a href="#masters-tab-2" class="tab masters__tab">Проектирование</a>
                        <a href="#masters-tab-3" class="tab masters__tab">Демонтаж</a>
                        <a href="#masters-tab-4" class="tab masters__tab tab--active">Строительство</a>
                        <a href="#masters-tab-5" class="tab masters__tab">Каменщики</a>
                        <a href="#masters-tab-6" class="tab masters__tab">Плиточники</a>
                        <a href="#masters-tab-7" class="tab masters__tab">Натяжники</a>
                        <a href="#masters-tab-8" class="tab masters__tab">Уборка</a>
                        <a href="#masters-tab-9" class="tab masters__tab">Художники</a>
                        <a href="#masters-tab-10" class="tab masters__tab">Установка дверей</a>
                    </div>
                    <div class="tabs__line">
                        <a href="#masters-tab-11" class="tab masters__tab">Сантехники</a>
                        <a href="#masters-tab-12" class="tab masters__tab">Электрики</a>
                        <a href="#masters-tab-13" class="tab masters__tab">Штукатуры</a>
                        <a href="#masters-tab-14" class="tab masters__tab">Маляры</a>
                        <a href="#masters-tab-15" class="tab masters__tab">Столяры</a>
                        <a href="#masters-tab-16" class="tab masters__tab">Декоративщики</a>
                        <a href="#masters-tab-17" class="tab masters__tab">Канализация</a>
                        <a href="#masters-tab-18" class="tab masters__tab">Паркетчики</a>
                        <a href="#masters-tab-19" class="tab masters__tab">Грузчики</a>
                    </div>
                </div>
                <input type="text" class="masters-page__search-input" placeholder="Выберите область...">
            </div>

            <div id="masters-tab-1" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-1.jpg",
                "name": "Валентин Улановский",
                "category": "Инженер-электрик",
                "phone": "+375 (29) 884-07-34"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-3.jpg",
                "name": "Анатолий Буяльский",
                "category": "Электрик",
                "phone": "+375 (29) 102-98-97"
                })
            </div>
            <div id="masters-tab-2" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-1.jpg",
                "name": "Валентин Улановский",
                "category": "Инженер-электрик",
                "phone": "+375 (29) 884-07-34"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-3.jpg",
                "name": "Анатолий Буяльский",
                "category": "Электрик",
                "phone": "+375 (29) 102-98-97"
                })
            </div>
            <div id="masters-tab-3" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-4.jpg",
                "name": "Денис Пасека",
                "category": "Прораб",
                "phone": "+375 (44) 769-00-10"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-5.jpg",
                "name": "Наталья Хотулева",
                "category": "Дизайнер",
                "phone": ""
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-6.jpg",
                "name": "Егор",
                "category": "Электрик",
                "phone": "+375 (29) 680-09-82"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-7.jpg",
                "name": "Илья Гриневич",
                "category": "Строительство",
                "phone": "+375 (29) 125-64-23"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-8.jpg",
                "name": "Андрей Даутян",
                "category": "Отделка",
                "phone": "+375 (29) 391-70-28"
                })
            </div>
            <div id="masters-tab-4" class="tabs-content masters__cards grid col-3 tabs-content--active">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-1.jpg",
                "name": "Валентин Улановский",
                "category": "Инженер-электрик",
                "phone": "+375 (29) 884-07-34"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-3.jpg",
                "name": "Анатолий Буяльский",
                "category": "Электрик",
                "phone": "+375 (29) 102-98-97"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-4.jpg",
                "name": "Денис Пасека",
                "category": "Прораб",
                "phone": "+375 (44) 769-00-10"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-5.jpg",
                "name": "Наталья Хотулева",
                "category": "Дизайнер",
                "phone": ""
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-6.jpg",
                "name": "Егор",
                "category": "Электрик",
                "phone": "+375 (29) 680-09-82"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-7.jpg",
                "name": "Илья Гриневич",
                "category": "Строительство",
                "phone": "+375 (29) 125-64-23"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-8.jpg",
                "name": "Андрей Даутян",
                "category": "Отделка",
                "phone": "+375 (29) 391-70-28"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-9.jpg",
                "name": "Андрей Мишин",
                "category": "Сантехник",
                "phone": "+375 (29) 751-12-05"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-10.jpg",
                "name": "Алексей Макаров",
                "category": "Инженер-электрик",
                "phone": "+375 (44) 785-31-09"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-11.jpg",
                "name": "Евгений Даутян",
                "category": "Отделка",
                "phone": "+375 (29) 327-59-78"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-12.jpg",
                "name": "Иван Сысоев",
                "category": "Стяжечник",
                "phone": "+375 (44) 754-44-10"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-13.jpg",
                "name": "Игорь Карнилович",
                "category": "Отделка",
                "phone": "+375 (29) 661-85-96"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-14.jpg",
                "name": "Виктор Апанасович",
                "category": "Плиточник",
                "phone": "+375 (29) 125-29-93"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-15.jpg",
                "name": "Юрий Грек",
                "category": "Отделка",
                "phone": "+375 (29) 151-84-67"
                })
            </div>
            <div id="masters-tab-5" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-9.jpg",
                "name": "Андрей Мишин",
                "category": "Сантехник",
                "phone": "+375 (29) 751-12-05"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-10.jpg",
                "name": "Алексей Макаров",
                "category": "Инженер-электрик",
                "phone": "+375 (44) 785-31-09"
                })
            </div>
            <div id="masters-tab-6" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-6.jpg",
                "name": "Егор",
                "category": "Электрик",
                "phone": "+375 (29) 680-09-82"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-7.jpg",
                "name": "Илья Гриневич",
                "category": "Строительство",
                "phone": "+375 (29) 125-64-23"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-8.jpg",
                "name": "Андрей Даутян",
                "category": "Отделка",
                "phone": "+375 (29) 391-70-28"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-9.jpg",
                "name": "Андрей Мишин",
                "category": "Сантехник",
                "phone": "+375 (29) 751-12-05"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-10.jpg",
                "name": "Алексей Макаров",
                "category": "Инженер-электрик",
                "phone": "+375 (44) 785-31-09"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-11.jpg",
                "name": "Евгений Даутян",
                "category": "Отделка",
                "phone": "+375 (29) 327-59-78"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-12.jpg",
                "name": "Иван Сысоев",
                "category": "Стяжечник",
                "phone": "+375 (44) 754-44-10"
                })
            </div>
            <div id="masters-tab-7" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-5.jpg",
                "name": "Наталья Хотулева",
                "category": "Дизайнер",
                "phone": ""
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-6.jpg",
                "name": "Егор",
                "category": "Электрик",
                "phone": "+375 (29) 680-09-82"
                })
            </div>
            <div id="masters-tab-8" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-7.jpg",
                "name": "Илья Гриневич",
                "category": "Строительство",
                "phone": "+375 (29) 125-64-23"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-8.jpg",
                "name": "Андрей Даутян",
                "category": "Отделка",
                "phone": "+375 (29) 391-70-28"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-9.jpg",
                "name": "Андрей Мишин",
                "category": "Сантехник",
                "phone": "+375 (29) 751-12-05"
                })
            </div>
            <div id="masters-tab-9" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
            </div>
            <div id="masters-tab-10" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
            </div>
            <div id="masters-tab-11" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-7.jpg",
                "name": "Илья Гриневич",
                "category": "Строительство",
                "phone": "+375 (29) 125-64-23"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-8.jpg",
                "name": "Андрей Даутян",
                "category": "Отделка",
                "phone": "+375 (29) 391-70-28"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-9.jpg",
                "name": "Андрей Мишин",
                "category": "Сантехник",
                "phone": "+375 (29) 751-12-05"
                })
            </div>
            <div id="masters-tab-12" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
            </div>
            <div id="masters-tab-13" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-7.jpg",
                "name": "Илья Гриневич",
                "category": "Строительство",
                "phone": "+375 (29) 125-64-23"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-8.jpg",
                "name": "Андрей Даутян",
                "category": "Отделка",
                "phone": "+375 (29) 391-70-28"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-9.jpg",
                "name": "Андрей Мишин",
                "category": "Сантехник",
                "phone": "+375 (29) 751-12-05"
                })
            </div>
            <div id="masters-tab-14" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
            </div>
            <div id="masters-tab-15" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-7.jpg",
                "name": "Илья Гриневич",
                "category": "Строительство",
                "phone": "+375 (29) 125-64-23"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-8.jpg",
                "name": "Андрей Даутян",
                "category": "Отделка",
                "phone": "+375 (29) 391-70-28"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-9.jpg",
                "name": "Андрей Мишин",
                "category": "Сантехник",
                "phone": "+375 (29) 751-12-05"
                })
            </div>
            <div id="masters-tab-16" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
            </div>
            <div id="masters-tab-17" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-7.jpg",
                "name": "Илья Гриневич",
                "category": "Строительство",
                "phone": "+375 (29) 125-64-23"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-8.jpg",
                "name": "Андрей Даутян",
                "category": "Отделка",
                "phone": "+375 (29) 391-70-28"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-9.jpg",
                "name": "Андрей Мишин",
                "category": "Сантехник",
                "phone": "+375 (29) 751-12-05"
                })
            </div>
            <div id="masters-tab-18" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-7.jpg",
                "name": "Илья Гриневич",
                "category": "Строительство",
                "phone": "+375 (29) 125-64-23"
                })
            </div>
            <div id="masters-tab-19" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
            </div>
            <div id="masters-tab-20" class="tabs-content masters__cards grid col-3">
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-2.jpg",
                "name": "Вероника Зазнова",
                "category": "Дизайнер",
                "phone": "+375 (44) 714-40-87"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-8.jpg",
                "name": "Андрей Даутян",
                "category": "Отделка",
                "phone": "+375 (29) 391-70-28"
                })
                @@include('../../blocks/modules/masters/_master-card.html', {
                "photo": "img/masters/master-9.jpg",
                "name": "Андрей Мишин",
                "category": "Сантехник",
                "phone": "+375 (29) 751-12-05"
                })
            </div>
        </div>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>