<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Проекты"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/sidebar/_sidebar.html')

        <main class="page projects-page">
            @@include('../../blocks/modules/header/_header.html')
            @@include('../../blocks/modules/mobile-menu/_mob-menu.html')

            <nav class="breadcrumbs breadcrumbs--white">
                <a class="breadcrumbs__item" href="index.html">Главная</a>
                <span class="breadcrumbs__item">Проекты</span>
            </nav>

            <h1 class="page-title page__title section-title projects-page__title">Проекты</h1>

            <div class="projects-page__content">
                <div class="project-item">
                    <div class="project-item__gallery">
                        <div class="project-item__slider popup-gallery">
                            <a href="img/projects/proj-1/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-1/main.jpg" alt="">
                            </a>
                            <a href="img/projects/proj-2/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-2/main.jpg" alt="">
                            </a>
                            <a href="img/projects/proj-3/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-3/main.jpg" alt="">
                            </a>
                            <a href="img/projects/proj-1/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-1/main.jpg" alt="">
                            </a>
                        </div>
                        <div class="project-item__nav-slider">
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-1.jpg" alt="">
                            </div>
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-2.jpg" alt="">
                            </div>
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-3.jpg" alt="">
                            </div>
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    @@include('../../blocks/modules/projects/_project-item.html', {
                    "address": "ул. Неманская д.3",
                    "type": "Новостройка",
                    "square": "40 м²",
                    "days": "25 дней",
                    "task": "Ремонт кухни, спальни и гостевой комнаты",
                    })
                </div>
                <div class="project-item">
                    <div class="project-item__gallery">
                        <div class="project-item__slider popup-gallery">
                            <a href="img/projects/proj-2/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-2/main.jpg" alt="">
                            </a>
                            <a href="img/projects/proj-1/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-1/main.jpg" alt="">
                            </a>
                            <a href="img/projects/proj-3/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-3/main.jpg" alt="">
                            </a>
                            <a href="img/projects/proj-1/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-1/main.jpg" alt="">
                            </a>
                        </div>
                        <div class="project-item__nav-slider">
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-1.jpg" alt="">
                            </div>
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-2.jpg" alt="">
                            </div>
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-3.jpg" alt="">
                            </div>
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    @@include('../../blocks/modules/projects/_project-item.html', {
                    "address": "ул. К.Туровского д.2",
                    "type": "Новостройка",
                    "square": "56 м²",
                    "days": "40 дней",
                    "task": "Ремонт квартиры под ключ",
                    })
                </div>
                <div class="project-item">
                    <div class="project-item__gallery">
                        <div class="project-item__slider popup-gallery">
                            <a href="img/projects/proj-3/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-3/main.jpg" alt="">
                            </a>
                            <a href="img/projects/proj-1/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-1/main.jpg" alt="">
                            </a>
                            <a href="img/projects/proj-2/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-2/main.jpg" alt="">
                            </a>
                            <a href="img/projects/proj-1/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-1/main.jpg" alt="">
                            </a>
                        </div>
                        <div class="project-item__nav-slider">
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-1.jpg" alt="">
                            </div>
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-2.jpg" alt="">
                            </div>
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-3.jpg" alt="">
                            </div>
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    @@include('../../blocks/modules/projects/_project-item.html', {
                    "address": "ул. Голодеда д.2",
                    "type": "Новостройка",
                    "square": "95 м²",
                    "days": "2 месяца",
                    "task": "Ремонт квартиры под ключ",
                    })
                </div>
                <div class="project-item">
                    <div class="project-item__gallery">
                        <div class="project-item__slider popup-gallery">
                            <a href="img/projects/proj-1/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-1/main.jpg" alt="">
                            </a>
                            <a href="img/projects/proj-2/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-2/main.jpg" alt="">
                            </a>
                            <a href="img/projects/proj-3/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-3/main.jpg" alt="">
                            </a>
                            <a href="img/projects/proj-1/main.jpg" class="project-item__slider-item">
                                <img src="img/projects/proj-1/main.jpg" alt="">
                            </a>
                        </div>
                        <div class="project-item__nav-slider">
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-1.jpg" alt="">
                            </div>
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-2.jpg" alt="">
                            </div>
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-3.jpg" alt="">
                            </div>
                            <div class="project-item__nav-slider-item">
                                <img src="img/projects/proj-1/nav/nav-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    @@include('../../blocks/modules/projects/_project-item.html', {
                    "address": "ул. Неманская д.3",
                    "type": "Новостройка",
                    "square": "40 м²",
                    "days": "25 дней",
                    "task": "Ремонт кухни, спальни и гостевой комнаты",
                    })
                </div>

                @@include('../../blocks/modules/pagination/_pagination.html')
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

    </div>

    @@include('../_js.html')

</body>

</html>