<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Типовая"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/sidebar/_sidebar.html')

        <div class="page">
            @@include('../../blocks/modules/header/_header.html')
            @@include('../../blocks/modules/mobile-menu/_mob-menu.html')

            <main class="typical-page">
                <section class="typical-page__promo">
                    <nav class="breadcrumbs breadcrumbs--white">
                        <a class="breadcrumbs__item" href="index.html">Главная</a>
                        <a class="breadcrumbs__item" href="services.html">Услуги</a>
                        <span class="breadcrumbs__item">Гипсокартон</span>
                    </nav>
                    <h1 class="page-title page__title section-title typical-page__title">Штукатурка</h1>
                    <div class="typical-page__info-title">
                        Сбивка штукатурки со стен<br>
                        от 5,4 руб
                    </div>

                    @@include('../../blocks/modules/typical/_promo-cards.html')
                </section>

                <div class="section typical-page__content">
                    <div class="typical-page__main-content">
                        <div class="typical-page__content-item">
                            <div class="title typical-page__content-title typical-page__reasons-title">
                                Четыре причины, когда нужно делать демонтаж штукатурки и сбивать её со стен:
                            </div>
                            <ul class="typical-page__reasons-list reasons-list list">
                                <li>
                                    Сбивают старую и ветхую штукатурку из-за риска отслоения
                                </li>
                                <li>
                                    Сбивают свежую но некачественную и отслаивающуюся штукатурку
                                </li>
                                <li>
                                    Сбивают кривую штукатурку т.к. штукатурить поверх штукатурки не рекомендуется
                                </li>
                                <li>
                                    Сбивают кривую штукатурку т.к. штукатурить поверх штукатурки не рекомендуется
                                </li>
                            </ul>

                            <img class="typical-page__img" src="img/dismantling-plaster.jpg"
                                alt="Мужчина на фото делает демонтаж штукатурки">
                        </div>

                        <div class="typical-page__content-item">
                            <div class="title typical-page__content-title typical-page__principles-title">
                                Наши принципы работы и почему мы очень часто делаем демонтаж на своих объектах
                            </div>
                            <p>
                                Наша компания всегда сбивает старую штукатурку, если мы делаем не косметический ремонт.
                                Мы
                                только за
                                качественный ремонт и даём гарантию на выполненные работы, поэтому готовим основания по
                                своим
                                технологиям, многие подготовительные работы делаются на долгие годы и экономить тут не
                                стоит.
                            </p>
                            <p>
                                Большой риск наносить последующий слой на отделку сомнительного и низкого качества.
                                Когда не
                                известно
                                что и кем выполнено - это чревато плохими последствиями, в таких случаях дать полную
                                гарантию мы
                                не
                                сможем.
                            </p>
                            <p>
                                Настоятельно рекомендуем при значительной кривизне и низком качестве материалов - делать
                                демонтаж
                                штукатурки и прочих покрытий, также не рекомендуем проводить отделку поверх окрашенным
                                стен с
                                применением бетонконтакта, более практично выполнить Алмазное шлифование и снять краску,
                                чем
                                наносить
                                дополнительные слои, каждый из которых может отслоится.
                            </p>
                            <p>
                                К сожалению штукатурка выполненная застройщиками делается не самыми качественными
                                материалами и
                                по
                                ровности на 3-4 бала из пяти, поэтому если у Вас мало средств и отделка простая и не
                                требовательная,
                                например плотные обои, то вполне достаточно будет пошпаклевать и оклеить такие стены. Но
                                если
                                ремонт
                                планируется - дорогой, то основание нужно будет переделывать и на старте работ
                                производить
                                полный
                                демонтаж и дефектовку стен. Некоторые застройщики уже не штукатурят и не переводят
                                материал
                                который
                                стоит вместе с работай достаточно дорого.
                            </p>

                            <a href="https://www.youtube.com/watch?v=zPmxRFxH_3o"
                                class="open-video video typical-page__video typical-page__img">
                                <img src="img/building-materials.jpg" alt="Строительные материалы">
                            </a>
                        </div>
                    </div>
                </div>

                @@include('../../blocks/modules/work-examples/_work-examples.html')

                <div class="section typical-page__order">
                    <div class="typical-page__order-inner">
                        <div class="typical-page__order-content">
                            <div class="typical-page__order-title">
                                Что же Вы получите оставив заявку на услуги нашей компании?
                            </div>
                            <p class="typical-page__order-text">
                                Для начала целый комплекс бесплатных услуг, который поможет прицениться и приглядеться к
                                нам, как к
                                специалистам. После Вы сможете определиться с какой услуги Вам начать ремонт, ведь мы
                                выполняем все
                                работы: предприемку у застройщика, разработку дизайн-проекта, помогаем с
                                перепланировкой,
                                помогаем с
                                подбором и закупкой черновых и чистовых стройматериалов со скидками, делаем комплексный
                                ремонт и
                                проводим профессиональную уборку после окончания. Все работы оформляются официально
                                договором,
                                сметой и
                                актами выполненных работ в соответствии законодательством.
                            </p>
                        </div>
                        <form action="#" class="order-form typical-page__form">
                            <h4 class="title order-form__title typical-page__form-title">Оставить заявку</h4>
                            <div class="order-form__fields typical-page__form-fields">
                                <input type="text" class="input order-form__input" placeholder="Имя">
                                <input type="tel" class="input order-form__input" placeholder="Телефон">
                                <input type="email" class="input order-form__input" placeholder="E-mail">
                                <textarea name="" id="" class="input order-form__input order-form__textarea"
                                    placeholder="Введите Ваше сообщение..."></textarea>
                            </div>
                            <button class="button order-form__btn icon-arr-r">
                                Отправить
                            </button>
                        </form>
                    </div>
                </div>
            </main>
        </div>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>