.about {
    position: relative;
    background-color: $dark-bg;
    color: #fff;
    padding-bottom: 63px;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -231px;
        width: 771px;
        height: 638px;
        z-index: 90;
        background-size: contain;
        background-image: url('../img/about_bg.png');

        @media (max-width: 1500px) {
            display: none;
        }
    }

    // .about__header

    &__header {
        margin-bottom: 104px;

        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media (max-width: 767px) {
            margin-bottom: 28px;
        }
    }

    // .about__title

    &__title {
        margin-left: 77px;

        @media (max-width: 1200px) {
            margin-left: 30px;
            margin-top: 30px;
        }

        @media (max-width: 767px) {
            font-size: 24px;
            line-height: 28px;
            margin-top: 20px;
            margin-left: 20px;
        }
    }

    // .about__content

    &__content {
        position: relative;
        z-index: 100;
        padding-left: 540px / 1666px * 100%;

        @media (max-width: 1500px) {
            padding: 0 30px;
            position: static;
        }

        @media (max-width: 767px) {
            padding: 0 20px;
        }
    }

    // .about__text

    &__text {
        max-width: 950px;
        line-height: 26px;

        @media (max-width: 1500px) {
            max-width: 100%;
        }

        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 23px;
        }
    }

    &__text + &__text {
        margin-top: 20px;
    }

    // .about__slider

    &__slider {
        position: relative;
        padding-bottom: 74px;
        margin-top: 92px;

        @media (max-width: 767px) {
            margin-top: 22px;
        }

        @media (max-width: 575px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            padding-bottom: 0;
        }
    }

    // .about__btn

    &__btn {
        position: absolute;
        right: 1px;
        bottom: 52px;
        z-index: 100;
        width: 484px;
        @include flex-end;
        padding-right: 103px;
        &:before {
            right: 57px;
        }

        @media (max-width: 650px) {
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
    }
}

.about-slider {
    // .about-slider__item

    &__item {
        width: 319px;
        height: 148px;
        margin-right: 20px;

        @media (max-width: 575px) {
            display: none;
            width: auto;
            height: 135px;
            margin-right: 0;
        }

        &:nth-child(1),
        &:nth-child(2) {
            display: block;
        }
    }

    &__btn {
        bottom: 0;
        left: 0;
        width: 38px;
        height: 38px;
        border: 1px solid $accent;

        &:before {
            color: $accent;
            font-size: 9px;
        }

        &:hover {
            background-color: $accent;
            border: none;

            &:before {
                color: #000;
            }
        }

        &--next {
            left: 11px + 38px;
        }
    }
}

.about-benefits {
    padding: 57px 0 75px 94px;

    @media (max-width: 1500px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: 767px) {
        padding: 20px;
    }

    // .about-benefits__title

    &__title {
        margin-bottom: 48px;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }

        @media (max-width: 575px) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 10px;
        }
    }

    // .about-benefits__list

    &__list {
        padding-left: 3px;

        @media (max-width: 1500px) {
            padding-left: 0;
        }
    }

    // .about-benefits__list-item

    &__list-item {
        font-size: 20px;
        line-height: 23px;

        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 19px;
        }
    }

    &__list-item + &__list-item {
        @media (max-width: 575px) {
            margin-top: 10px;
        }
    }
}
