.about {
    // .about__header

    &__header {
        margin-bottom: 104 * 100vh / 1000;
        padding-right: 65 * 100vw / 1920;

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
            padding-right: 20px;
            margin-bottom: 30px;
        }

        @media (max-width: 767px) {
            margin-bottom: 28px;
        }
    }

    // .about__title

    &__title {
        color: #fff;
        margin-left: 77 * 100vw / 1920;

        @media (max-width: 992px) {
            margin-left: 20px;
            margin-top: 30px;
        }

        @media (max-width: 767px) {
            font-size: 24px;
            line-height: 28px;
            margin-top: 20px;
        }

        @media(max-width: 575px) {
            font-size: 24px;
            line-height: 28px;
        }
    }

    // .about__content

    &__content {
        position: relative;
        z-index: 100;
        padding-left: 540 * 100vw / 1920;

        @media (max-width: 992px) {
            padding: 0 20px;
        }
    }

    // .about__text

    &__text {
        width: 950 * 100vw / 1920;
        line-height: 26 * 100vw / 1920;

        @media(max-width: 992px) {
            width: 100%;
            line-height: 26px;
        }

        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 23px;
        }

        p+p {
            margin-top: 20 * 100vh / 1000;

            @media(max-width: 992px) {
                margin-top: 20px;
            }
        }
    }

    // .about__slider

    &__slider {
        position: relative;
        padding-bottom: 74 * 100vh / 1000;
        margin-top: 92 * 100vh / 1000;

        @media (max-width: 992px) {
            margin-top: 22px;
            padding-bottom: 74px;
        }

        @media (max-width: 575px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            padding-bottom: 0;
        }

        @media(max-width: 374px) {
            grid-template-columns: 1fr;
        }
    }

    // .about__btn

    &__btn {
        position: absolute;
        right: 1 * 100vw / 1920;
        bottom: 52 * 100vh / 1000;
        width: 484 * 100vw / 1920;
        @include flex-end;
        padding-right: 103 * 100vw / 1920;

        @media(max-width: 992px) {
            width: 484px;
            bottom: 52px;
            right: 1px;
            padding-right: 103px;
        }

        &:before {
            right: 57 * 100vw / 1920;

            @media(max-width: 992px) {
                right: 57px;
            }

            @media (max-width: 575px) {
                right: 29px;
            }
        }

        @media (max-width: 575px) {
            padding-right: 64px;
            bottom: 0;
            right: 0;
        }
    }
}

.about-promo {
    position: relative;
    background-color: $dark-bg;
    color: #fff;
    min-height: 100vh;
    padding-bottom: 63 * 100vh / 1000;
    background-size: 771 * 100vh / 1000 638 * 100vh / 1000;
    background-position: -232 * 100vh / 1000 bottom;
    background-image: url(../img/about_bg.png);
    background-repeat: no-repeat;

    @media(max-width: 992px) {
        background-image: none;
        min-height: auto;
        padding-bottom: 66px;
    }
}

@import './about-slider/about-slider.scss';
@import './about-benefits/about-benefits.scss';