.contacts {
    height: 100vh;
    @include flex;

    @media (max-width: 1600px) {
        height: auto;
        flex-direction: column;
        background: $dark-bg;
        padding-bottom: 50px;
    }

    @media (max-width: 991px) {
        height: auto;
        padding-bottom: 50px;
    }

    &__breadcrumbs {
        padding-left: 51px;

        @media (max-width: 1600px) {
            color: #fff;
        }
    }

    // .contacts__content

    &__content {
        position: relative;
        width: 1097px / 1680px * 100%;
        height: 100%;
        background: $dark-bg;

        @media (max-width: 1600px) {
            width: 100%;
            display: flex;
            justify-content: center;
            height: fit-content;
        }

        @media (max-width: 1300px) {
            padding-left: 30px;
            padding-right: 30px;
        }

        @media (max-width: 767px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    // .contacts__inner

    &__inner {
        position: absolute;
        @include centerY;
        left: calc(-446px / 2);
        grid-template-columns: 446px 423px;
        grid-template-rows:
            [row1-start] minmax(137px, auto) [row1-end] minmax(106px, auto) [row2] minmax(106px, auto) [row3] minmax(
                168px,
                auto
            )
            [row-end];
        grid-column-gap: 194px;
        grid-row-gap: 25px;
        margin-top: 83px;

        @media (max-width: 1600px) {
            position: static;
            transform: none;
            grid-column-gap: 50px;
        }

        @media (max-width: 1300px) {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }

        @media (max-width: 767px) {
            margin-top: 50px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
        }

        @media (max-width: 767px) {
            @include column;
            margin-top: 30px;
        }
    }

    // .contacts__item

    &__item {
        &:nth-child(1) {
            grid-row: 1 / row-end;
            @media (max-width: 1300px) {
                width: 100%;
            }
            @media (max-width: 767px) {
                grid-column: 2 / 4;
                grid-row: auto;
            }
        }

        &:nth-child(2) {
            grid-row: row1-start / row1-end;
            @media (max-width: 767px) {
                grid-column: 1 / 3;
            }
        }

        &:nth-child(3) {
            grid-row: row1-end / row2;
            @media (max-width: 767px) {
                grid-column: 3 / 5;
            }
        }

        &:nth-child(4) {
            grid-row: row2 / row3;
            @media (max-width: 767px) {
                grid-column: 1 / 3;
                grid-row: 5 / 6;
            }
        }

        &:nth-child(5) {
            grid-row: row3 / row-end;
            @media (max-width: 767px) {
                grid-column: 3 / 5;
                grid-row: 5 / 6;
            }
        }
    }

    // .contacts__form

    &__form {
        @media (max-width: 1170px) {
            align-self: center;
        }

        @media (max-width: 767px) {
            margin-top: 35px;
        }
    }

    &__form-title {
        @media (max-width: 767px) {
            display: inline-block;
            width: 226px / 375px * 100%;
            color: #fff;
            padding: 7px 19px;
            background: $black-bg;
            margin-bottom: 41px;
        }
    }

    &__form-fields {
        @media (max-width: 767px) {
            padding: 0 20px;
        }
    }

    // .contacts__gray-item

    &__gray-item {
        background-color: $card-bg;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #fff;
        padding: 15px 28px 25px;

        @media (max-width: 767px) {
            padding: 10px 12px 15px;
            margin: 0 20px;
        }
    }

    // .contacts__item-title

    &__item-title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 17px;

        @media (max-width: 575px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 14px;
        }
    }

    &__item-descr {
        display: block;

        @media (max-width: 575px) {
            font-size: 14px;
            line-height: 16px;
        }

        span {
            display: inline-block;
            min-width: 59px;
        }

        span + span {
            padding-left: 68px;

            @media (max-width: 767px) {
                padding-left: 81px;
            }
        }
    }

    // .contacts__item-descr

    &__item-descr + &__item-descr {
        margin-top: 10px;

        @media (max-width: 575px) {
            margin-top: 15px;
        }
    }
}

.contacts-page {
    .sidebar {
        @media (max-width: 1200px) {
            display: none;
        }
    }
    .contacts {
        @media (max-width: 1200px) {
            width: 100%;
        }
    }
}
