.contacts {
    position: relative;
    height: 100vh;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 1097 * 100vw / 1920;
        height: 100%;
        background-color: $dark-bg;

        @media(max-width: 992px) {
            display: none;
        }
    }

    @media (max-width: 992px) {
        background-color: $dark-bg;
        height: auto;
        padding-bottom: 50px;
    }

    &__breadcrumbs {
        padding-left: 51 * 100vw / 1920;
    }

    // .contacts__content

    &__body {
        display: flex;
        justify-content: flex-end;
        padding-right: 257 * 100vw / 1920;

        @media(max-width: 992px) {
            justify-content: flex-start;
            padding: 0 20px;
        }

        @media (max-width: 767px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    // .contacts__inner

    &__inner {
        grid-template-columns: 446 * 100vw / 1920 423 * 100vw / 1920;
        grid-template-rows:
            [row1-start] minmax(137 * 100vw / 1920, auto) [row1-end] minmax(106 * 100vw / 1920, auto) [row2] minmax(106 * 100vw / 1920, auto) [row3] minmax(168 * 100vw / 1920, auto) [row-end];
        grid-gap: 25 * 100vw / 1920 194 * 100vw / 1920;
        margin-top: 83 * 100vw / 1920;

        @media(max-width: 992px) {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            margin-top: 30px;
        }

        @media (max-width: 767px) {
            @include column;
            grid-row-gap: 20px;
        }
    }

    // .contacts__item

    &__item {
        &:nth-child(1) {
            grid-row: 1 / row-end;

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        &:nth-child(2) {
            grid-row: row1-start / row1-end;
        }

        &:nth-child(3) {
            grid-row: row1-end / row2;
        }

        &:nth-child(4) {
            grid-row: row2 / row3;
        }

        &:nth-child(5) {
            grid-row: row3 / row-end;
        }
    }

    // .contacts__form

    &__form {
        @media (max-width: 767px) {
            margin-top: 15px;
        }
    }

    &__form-title {
        @media (max-width: 767px) {
            display: inline-block;
            width: 226px / 375px * 100%;
            color: #fff;
            padding: 7px 19px;
            background: $black-bg;
            margin-bottom: 41px;
        }
    }

    &__form-fields {
        @media (max-width: 767px) {
            padding: 0 20px;
        }
    }

    // .contacts__gray-item

    &__gray-item {
        background-color: $card-bg;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #fff;
        padding: 15 * 100vw / 1920 28 * 100vw / 1920 25 * 100vw / 1920;

        @media(max-width: 992px) {
            padding: 15px 28px 25px;
        }

        @media (max-width: 767px) {
            padding: 10px 12px 15px;
            margin: 0 20px;
        }
    }

    // .contacts__item-title

    &__item-title {
        font-size: 24 * 100vw / 1920;
        line-height: 28 * 100vw / 1920;
        margin-bottom: 17 * 100vw / 1920;

        @media(max-width: 992px) {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 15px;
        }

        @media (max-width: 575px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 14px;
        }
    }

    &__item-descr {
        display: block;

        @media (max-width: 575px) {
            font-size: 14px;
            line-height: 16px;
        }

        span {
            display: inline-block;
            min-width: 59 * 100vw / 1920;

            @media(max-width: 992px) {
                min-width: 59px;
            }
        }

        span+span {
            padding-left: 68 * 100vw / 1920;

            @media(max-width: 992px) {
                padding-left: 68px;
            }

            @media (max-width: 767px) {
                padding-left: 81px;
            }
        }
    }

    // .contacts__item-descr

    &__item-descr+&__item-descr {
        margin-top: 10 * 100vw / 1920;

        @media(max-width: 992px) {
            margin-top: 10px;
        }

        @media (max-width: 575px) {
            margin-top: 15px;
        }
    }
}