.typical-page {
    background-color: $gray-bg;

    @media (max-width: 575px) {
        background-color: transparent;
    }

    &__promo {
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-bottom: 34 * 100vw / 1920;
        background: linear-gradient(360deg, $gray-bg 5.59%, rgba(71, 71, 71, 0.99) 12.46%, rgba(255, 255, 255, 0) 100%),
            linear-gradient(0deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), url(../img/typical-page_bg.jpg);

        @media(max-width: 992px) {
            height: auto;
            padding-bottom: 34px;
        }
    }

    // .typical-page__title

    &__title {
        margin-top: 42 * 100vw / 1920;

        @media(max-width: 992px) {
            margin-top: 42px;
        }
    }

    &__info-title {
        font-size: 64 * 100vw / 1920;
        line-height: 75 * 100vw / 1920;
        color: #fff;
        flex: 1 1 auto;
        margin-top: 168 * 100vw / 1920;
        margin-left: 67 * 100vw / 1920;

        @media (max-width: 992px) {
            font-size: 48px;
            line-height: 59px;
            margin-top: 60px;
            margin-left: 20px;
            margin-right: 20px;
        }

        @media (max-width: 767px) {
            font-size: 23px;
            line-height: 28px;
            margin-top: 30px;
        }

        @media(max-width: 374px) {
            font-size: 21px;
            line-height: 26px;
        }
    }

    // .typical-page__cards

    &__cards {
        width: 1220 * 100vw / 1920;
        grid-gap: 20 * 100vw / 1920;
        margin-left: 67 * 100vw / 1920;

        @media (max-width: 992px) {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            margin-top: 70px;
            margin-left: 0;
            padding: 0 20px;
        }

        @media (max-width: 575px) {
            width: 290px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, minmax(93px, auto));
            grid-gap: 10px;
            align-self: flex-end;
            padding: 0;
        }
    }

    // .typical-page__card

    &__card {
        position: relative;
        min-height: 143 * 100vw / 1920;
        padding: 15 * 100vw / 1920;
        background-color: $card-bg;
        color: #fff;

        @media(max-width: 992px) {
            min-height: 143px;
            padding: 15px;
        }

        @media(max-width: 575px) {
            min-height: auto;
            padding-right: 30px;
        }
    }

    // .typical-page__card-btn

    &__card-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 158 * 100vw / 1920;
        padding-left: 33 * 100vw / 1920;

        @media(max-width: 992px) {
            width: 158px;
            padding-left: 33px;
        }

        &:before {
            right: 20 * 100vw / 1920;

            @media(max-width: 992px) {
                right: 20px;
            }

            @media (max-width: 575px) {
                color: $accent;
                right: 0;
            }
        }

        @media (max-width: 575px) {
            right: 27px;
            bottom: 21px;
            padding: 0;
            background-color: transparent;
            font-size: 0;
        }
    }

    // .typical-page__content

    &__content {
        margin-left: 270 * 100vw / 1920;
        padding: 30 * 100vw / 1920 0 115 * 100vw / 1920;
        color: #fff;

        @media(max-width: 992px) {
            margin-left: 20px;
            padding: 30px 0 115px;
        }

        @media (max-width: 767px) {
            padding-top: 27px;
            margin: 0;
        }

        @media (max-width: 575px) {
            padding: 0;
        }
    }

    &__main-content {
        width: 1077 * 100vw / 1920;

        @media(max-width: 992px) {
            width: 100%;
        }

        @media (max-width: 575px) {
            padding-top: 27px;
            background-color: $gray-bg;
        }
    }

    &__content-item {
        padding: 0 20 * 100vw / 1920;

        @media(max-width: 992px) {
            padding: 0 20px;
        }
    }

    &__content-item+&__content-item {
        margin-top: 70 * 100vw / 1920;

        @media(max-width: 992px) {
            margin-top: 50px;
        }

        @media (max-width: 767px) {
            margin-top: 23px;
        }
    }

    // .typical-page__section-title

    &__content-title {
        @media (max-width: 767px) {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 19px;
        }
    }

    &__reasons-title {
        max-width: 994 * 100vw / 1920;

        @media (max-width: 992px) {
            max-width: 100%;
        }
    }

    // .typical-page__reasons-list

    &__reasons-list {
        margin: 42 * 100vw / 1920 0;

        @media(max-width: 992px) {
            margin: 30px 0;
        }

        @media (max-width: 767px) {
            margin: 19px 0 23px;
        }
    }

    // .typical-page__section-text

    &__section-text {
        font-size: 20 * 100vw / 1920;
        line-height: 23 * 100vw / 1920;

        @media(max-width: 992px) {
            font-size: 20px;
            line-height: 23px;
        }

        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    p+p {
        margin-top: 30 * 100vw / 1920;

        @media(max-width: 992px) {
            margin-top: 30px;
        }

        @media (max-width: 767px) {
            margin-top: 19px;
        }
    }

    &__principles-title {
        max-width: 884 * 100vw / 1920;
        margin: 70 * 100vw / 1920 0 50 * 100vw / 1920;

        @media (max-width: 992px) {
            max-width: 100%;
            margin: 70px 0 50px;
        }

        @media (max-width: 767px) {
            margin: 23px 0 19px;
        }
    }

    &__order {
        margin-top: -59 * 100vw / 1920;
        padding: 0 261 * 100vw / 1920 113 * 100vw / 1920 266 * 100vw / 1920;

        @media (max-width: 992px) {
            margin-top: -59px;
            padding-left: 20px;
            padding-right: 20px;
            justify-content: space-between;
            align-items: center;
        }

        @media(max-width: 767px) {
            background-color: #fff;
            margin-top: 0;
            padding: 75px 0px 48px;
        }
    }

    &__order-inner {
        @media(min-width: 767px) {
            display: flex;
            align-items: center;
        }
    }

    &__order-content {
        color: #fff;
        padding-right: 53 * 100vw / 1920;

        @media (max-width: 992px) {
            width: 50%;
            padding-right: 30px;
        }

        @media(max-width: 767px) {
            width: 100%;
            padding-right: 0;
            color: #000;
        }

        @media (max-width: 575px) {
            display: none;
        }
    }

    &__order-title {
        max-width: 568 * 100vw / 1920;
        font-size: 24 * 100vw / 1920;
        line-height: 28 * 100vw / 1920;
        margin-bottom: 17 * 100vw / 1920;

        @media(max-width: 992px) {
            max-width: 568px;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 17px;
        }
    }

    &__form {
        flex: 0 0 446 * 100vw / 1920;

        @media (max-width: 992px) {
            flex-basis: 50%;
        }
    }

    &__form-title {
        @media (max-width: 767px) {
            margin-bottom: 20px;
            color: #fff;
        }

        @media (max-width: 575px) {
            color: #000;
            margin-left: 20px;
        }
    }

    &__form-fields {
        @media (max-width: 575px) {
            padding: 0 20px;
        }
    }

    &__video {
        display: block;
        margin-top: 67 * 100vw / 1920;

        @media(max-width: 992px) {
            margin-top: 67px;
        }

        &:before {
            @media(max-width: 575px) {
                width: 56px;
                height: 57px;
                left: calc(50% - 56px / 2);
            }
        }
    }
}

.reasons-list {

    li+li {

        @media (max-width: 767px) {
            margin-top: 20px;
        }
    }
}