<!DOCTYPE html>
<html lang="ru">
@@include('_head.html')

<body>

    <div class="page">
        @@include('../blocks/modules/sidebar/_sidebar.html')

        @@include('../blocks/modules/promo/_promo.html')

        @@include('../blocks/modules/services/_services.html')

        @@include('../blocks/modules/projects/_projects.html')

        @@include('../blocks/modules/prices/_prices.html')

        @@include('../blocks/modules/masters/_masters.html')

        @@include('../blocks/modules/video-reviews/_video-reviews.html')

        @@include('../blocks/modules/footer/_footer.html')
    </div>

    @@include('_js.html')

</body>

</html>