.reviews-page {
    min-height: 100vh;
    background-color: $light;
    padding-bottom: 50 * 100vw / 1920;
    padding-right: 94 * 100vw / 1920;

    @media (max-width: 992px) {
        padding-right: 20px;
    }

    &__wrapper {
        width: 1470 * 100vw / 1920;

        @media(max-width: 992px) {
            width: 100%;
        }
    }

    &__header {
        justify-content: space-between;
        margin-bottom: 49 * 100vw / 1920;
        padding-right: 18 * 100vw / 1920;

        @media (max-width: 767px) {
            padding-right: 0px;
            margin-bottom: 20px;
        }

        @media(max-width: 575px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    // .reviews-page__add-btn

    &__add-btn {
        position: relative;
        font-size: 24 * 100vw / 1920;
        line-height: 28 * 100vw / 1920;
        padding-right: 43 * 100vw / 1920;
        transition: 0.3s all;

        @media (max-width: 992px) {
            font-size: 18px;
            line-height: 21px;
            padding-right: 33px;
        }

        @media(max-width: 767px) {
            padding-right: 0;
            padding-left: 33px;
        }

        @media(max-width: 575px) {
            margin-left: 20px;
            margin-top: 20px;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $accent;
            }
        }

        &:before {
            content: '';
            position: absolute;
            @include centerY;
            right: 0;
            width: 29 * 100vw / 1920;
            height: 29 * 100vw / 1920;
            background-image: url(../img/icons/plus.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            @media (max-width: 992px) {
                width: 20px;
                height: 20px;
            }

            @media(max-width: 767px) {
                left: 0;
                right: auto;
            }
        }
    }

    // .reviews-page__cards

    &__cards {
        grid-gap: 23 * 100vw / 1920 20 * 100vw / 1920;
        margin-left: 94 * 100vw / 1920;

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            margin-left: 20px;
            grid-row: 20px;
        }

        @media (max-width: 575px) {
            grid-template-columns: 1fr;
        }
    }

    // .reviews-page__card

    &__card {
        @include column;
        background: #fff;
        min-height: 217 * 100vw / 1920;
        padding: 26 * 100vw / 1920 15 * 100vw / 1920 15 * 100vw / 1920 20 * 100vw / 1920;

        @media(max-width: 992px) {
            padding: 25px 15px 15px 20px;
        }

        @media (max-width: 767px) {
            padding: 10px 16px;
        }

        @media (max-width: 575px) {
            display: none;
            min-height: 160px;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            @media (max-width: 575px) {
                display: flex;
            }
        }
    }
}

.review-card {
    // .review-card__top

    &__top {
        @include flex;
    }

    // .review-card__name

    &__name {
        margin-bottom: 8 * 100vw / 1920;

        @media(max-width: 992px) {
            margin-bottom: 7px;
        }
    }

    // .review-card__date

    &__date {
        font-weight: 300;
        font-size: 12 * 100vw / 1920;
        line-height: 14 * 100vw / 1920;
        color: #7e7e7e;

        @media(max-width: 992px) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    // .review-card__rating

    &__rating {
        li+li {
            margin-left: 5 * 100vw / 1920;

            @media(max-width: 992px) {
                margin-left: 5px;
            }

            @media (max-width: 575px) {
                margin-left: 3px;
            }
        }
    }

    // .review-card__text

    &__text {
        font-size: 14 * 100vw / 1920;
        line-height: 16 * 100vw / 1920;
        margin: 25 * 100vw / 1920 0 24 * 100vw / 1920;

        @media(max-width: 992px) {
            font-size: 14px;
            line-height: 16px;
            margin: 25px 0 24px;
        }

        @media (max-width: 575px) {
            margin: 7px 0 10px;
        }
    }

    // .review-card__btn

    &__btn {
        width: 171 * 100vw / 1920;
        align-self: flex-end;
        padding: 10 * 100vw / 1920;
        padding-right: 33 * 100vw / 1920;
        font-size: 13 * 100vw / 1920;
        line-height: 15 * 100vw / 1920;

        @media(max-width: 992px) {
            width: 171px;
            padding: 10px;
            padding-right: 33px;
            font-size: 13px;
            line-height: 15px;
        }

        &:before {
            right: 14 * 100vw / 1920;
            font-size: 7 * 100vw / 1920;

            @media(max-width: 992px) {
                right: 14px;
                font-size: 7px;
            }
        }

        @media (max-width: 375px) {
            width: 100%;
            @include flex-end;
        }
    }
}