.masters-page {
    background-color: $light;
    padding-bottom: 70px;

    @media (max-width: 1800px) {
        padding-right: 30px;
    }

    @media (max-width: 767px) {
        background-color: #fff;
        padding-bottom: 48px;
        padding-right: 20px;
    }

    &__title {
        margin-right: 68px;

        @media (max-width: 1800px) {
            margin-right: 30px;
        }
    }

    // .masters-page__header

    &__header {
        margin-bottom: 73px;

        @media (max-width: 1810px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media (max-width: 767px) {
            margin-bottom: 21px;
        }
    }

    &__tabs {
        width: 987px;

        @media (max-width: 1810px) {
            width: 100%;
            margin-top: 30px;
            margin-left: 30px;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    &__search-input {
        display: none;

        @media (max-width: 767px) {
            display: block;
            width: calc(100% - 40px);
            background: rgba(196, 196, 196, 0.09);
            padding: 8px 10px;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            font-style: italic;
            color: #c4c4c4;
            margin: 21px auto 0;

            &::placeholder {
                color: #c4c4c4;
            }
        }
    }
}

.masters {
    &__inner {
        width: 100%;
        grid-template-columns: calc(100% - 485px) 485px;
        grid-template-rows: [line1-start] 43px [line1-end] minmax(320px, auto) [second-line] minmax(383px, auto) [section-end];
        grid-gap: 0px;

        @media (max-width: 1500px) {
            @include flex;
            flex-wrap: wrap;
        }

        @media (max-width: 767px) {
            @include column;
        }
    }

    &__item {
        &:nth-child(1) {
            grid-row: line1-end / section-end;

            @media (max-width: 1500px) {
                width: 100%;
            }
        }

        &:nth-child(2) {
            grid-row: line1-start / second-line;

            @media (max-width: 1500px) {
                width: 50%;
                order: 3;
            }

            @media (max-width: 767px) {
                width: 100%;
                order: 2;
            }

            @media (max-width: 575px) {
                order: 3;
            }
        }

        &:nth-child(3) {
            grid-row: second-line / section-end;

            @media (max-width: 1500px) {
                width: 50%;
                order: 2;
            }

            @media (max-width: 767px) {
                width: 100%;
                order: 3;
            }

            @media (max-width: 575px) {
                order: 2;
            }
        }
    }

    // .masters__main

    &__main {
        background: radial-gradient(
            88.03% 247.18% at 11.97% 40.68%,
            #4d4d4d 0%,
            rgba(77, 77, 77, 0.81) 57.29%,
            rgba(77, 77, 77, 0.71) 100%
        );
        padding: 49px 52px 48px 94px;
        color: #fff;

        @media (max-width: 1700px) {
            padding-left: 50px;
        }

        @media (max-width: 767px) {
            position: relative;
            padding: 20px 20px 66px;
        }
    }

    &__link {
        display: none;

        &:before {
            right: 29px;
        }

        @media (max-width: 575px) {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            @include flex-end;
            padding-right: 64px;
        }
    }

    // .masters__title

    &__title {
        margin-bottom: 16px;

        @media (max-width: 767px) {
            margin-bottom: 26px;
        }
    }

    // .masters__tabs

    &__tabs {
        margin-bottom: 86px;

        @media (max-width: 767px) {
            margin-bottom: 40px;
        }
    }

    // .masters__tab

    &__tab {
        padding-bottom: 5px;

        &.tab--active {
            &:after {
                height: 2px;
                border-radius: 10px;
                background-color: $accent;
                bottom: 0px;
            }
        }
    }

    // .masters__slider

    &__slider {
        @media (max-width: 575px) {
            position: relative;
        }
    }

    &__aside-title {
        color: $gray-bg;
    }

    // .masters__reviews

    &__reviews {
        background: #f2f2f2;
        padding: 39px 39px 39px 28px;
    }

    // .masters__cards

    &__cards {
        width: 445px * 3 + 20px * 2;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 26px;
        margin-left: 94px;

        @media (max-width: 1800px) {
            width: auto;
            margin-left: 30px;
        }

        @media (max-width: 1400px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 767px) {
            grid-template-columns: 100%;
            grid-row-gap: 21px;
            width: 100%;
            margin: 0;
            padding-left: 20px;
        }

        &.tabs__content--active {
            display: grid;

            @media (max-width: 575px) {
                width: 100%;
                @include column;
            }
        }
    }

    // .masters__card

    &__card {
        display: flex;
        background: #ffffff;
        min-height: 218px;
        padding: 24px;

        picture {
            width: 170px;
            height: 170px;

            @media (max-width: 575px) {
                width: 128px;
                height: 128px;
            }

            @media (max-width: 375px) {
                width: 120px;
                height: 140px;
            }
        }

        @media (max-width: 1500px) {
            padding: 15px;
            min-height: 218px - 15px * 2;
        }

        @media (max-width: 767px) {
            padding: 16px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }

        @media (max-width: 575px) {
            width: 100%;
            min-height: 160px;
            display: none;
        }

        @media (max-width: 375px) {
            padding: 10px;
        }

        &:nth-child(2),
        &:nth-child(9),
        &:nth-child(12) {
            display: flex;
        }
    }
}

.master {
    // .master__photo

    &__photo {
        width: 170px;
        height: 170px;
        object-fit: cover;

        @media (max-width: 575px) {
            width: 128px;
            height: 128px;
        }

        @media (max-width: 375px) {
            width: 120px;
            height: 140px;
        }
    }

    // .master__info

    &__info {
        @include column;
        justify-content: space-between;
        padding-top: 15px;
        margin-left: 21px;

        @media (max-width: 1700px) {
            padding-top: 0;
        }

        @media (max-width: 1500px) {
            margin-left: 15px;
        }

        @media (max-width: 767px) {
            width: 100%;
            margin-left: 18px;
            padding-top: 2px;
        }

        @media (max-width: 375px) {
            margin-left: 10px;
        }
    }

    // .master__name

    &__name {
        @media (max-width: 375px) {
            font-size: 16px;
            line-height: 19px;
        }
    }

    &__descr {
        font-size: 12px;
        line-height: 14px;
    }

    // .master__category

    &__category {
        margin-top: 10px;

        @media (max-width: 767px) {
            margin-top: 8px;
        }
    }

    // .master__phone

    &__phone {
        margin-top: auto;

        @media (max-width: 1700px) {
            margin-top: 5px;
        }
    }

    &__phone + &__phone {
        margin: 5px 0 -19px;
    }

    // .master__btn

    &__btn {
        width: 120px;
        font-size: 13px;
        line-height: 15px;
        padding: 10px 15px;
        margin-top: 36px;
        transition: 0.3s all;
        &:before {
            right: 18px;
            font-size: 7px;
            @media (max-width: 575px) {
                right: 13px;
            }
        }

        @media (max-width: 767px) {
            width: 128px;
            align-self: flex-end;
            padding-right: 13px;
            padding-left: 26px;
            margin-top: auto;
            font-weight: 400;
        }

        @media (max-width: 375px) {
            width: 100%;
            align-self: start;
        }

        &:hover {
            padding-right: 25px;
        }
    }
}

.masters-slider {
    width: 100%;

    @media (max-width: 767px) {
        padding-bottom: 80px;
    }

    @media (max-width: 575px) {
        padding-bottom: 0;
    }

    // .masters-slider__item-name

    &__item-name {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 28px;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    // .masters-slider__item-inner

    &__item-inner {
        display: flex;

        @media (max-width: 767px) {
            @include flex;
        }

        @media (max-width: 575px) {
            flex-direction: column;
        }
    }

    // .masters-slider__item-photo

    &__item-photo {
        width: 262px;
        height: 352px;
        object-fit: cover;

        @media (max-width: 575px) {
            width: 335px;
            height: 449px;
            position: relative;
        }

        @media (max-width: 375px) {
            width: 100%;
        }
    }

    &__arrows {
        display: none;

        @media (max-width: 575px) {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 100;
            background: rgba(196, 196, 196, 0.4);
            backdrop-filter: blur(15px);
            width: 157px;
            height: 78px;
            padding: 8px 12px;
            @include flex;
        }
    }

    // .masters-slider__item-text

    &__item-text {
        max-width: 445px;
        margin-left: 72px;

        @media (max-width: 767px) {
            max-width: auto;
            font-size: 16px;
            line-height: 19px;
            margin-left: 20px;
        }

        @media (max-width: 575px) {
            max-width: 100%;
            margin-top: 18px;
            margin-left: 0;
        }
    }

    &__btn {
        bottom: 0;
        right: 0;
        @include yellow-slider-btn;

        &:before {
            font-size: 20px;
            color: $accent;
            @media (max-width: 575px) {
                font-size: 15px;
            }
        }

        &:hover {
            background-color: $accent;

            &:before {
                color: #000;
                @media (max-width: 991px) {
                    color: $accent;
                }
            }

            @media (max-width: 991px) {
                background-color: transparent;
            }
        }

        @media (max-width: 767px) {
            width: 62px;
            height: 62px;
            right: auto;
            bottom: 0px;
        }

        @media (max-width: 575px) {
            top: 428px;
            left: 190px;
            bottom: auto;

            &:after {
                content: '';
                position: absolute;
                top: -8px;
                bottom: -8px;
                background: rgba(196, 196, 196, 0.4);
            }
        }

        @media (max-width: 375px) {
            left: auto;
            right: 12px;
        }

        &--prev {
            right: 80px + 23px;

            @media (max-width: 767px) {
                right: auto;
            }

            @media (max-width: 575px) {
                &:after {
                    left: -12px;
                    right: -5.5px;
                }
            }

            @media (max-width: 375px) {
                right: 62px + 9px + 12px;
            }
        }

        &--next {
            @media (max-width: 767px) {
                left: 62px+9px;
            }

            @media (max-width: 575px) {
                left: 190px+62px+9px;

                &:after {
                    right: -12px;
                    left: -5.5px;
                }
            }

            @media (max-width: 375px) {
                left: auto;
            }
        }
    }
}

.reviews-masters {
    position: relative;

    @media (max-width: 575px) {
        padding: 20px 20px 75px;
    }

    // .reviews-masters__header

    &__header {
        @include flex;
        align-items: center;
        margin-bottom: 32px;
    }

    // .reviews-masters__arrows

    &__arrows {
        display: flex;
    }

    &__slider-btn {
        position: relative;
        display: inline-block;
        width: 38px;
        height: 38px;
        border: 1px solid #808080;

        &:before {
            color: #7e7e7e;
            font-size: 9px;
            @media (max-width: 575px) {
                font-size: 15px;
                color: $accent;
            }
        }

        &:hover {
            border-color: $accent;
            background-color: $accent;

            &:before {
                color: #000;
                @media (max-width: 767px) {
                    color: $accent;
                }
            }

            @media (max-width: 991px) {
                border: 1px solid $accent;
                background-color: transparent;
            }
        }

        @media (max-width: 767px) {
            width: 62px;
            height: 62px;
            border: 1px solid $accent;
        }
    }

    &__slider-btn + &__slider-btn {
        margin-left: 11px;
    }

    // .reviews-masters__slider-item

    &__slider-item {
        padding-bottom: 97px;

        @media (max-width: 1500px) {
            padding-bottom: 50px;
        }

        @media (max-width: 575px) {
            padding-bottom: 0;
        }
    }

    // .reviews-masters__slider-item-rating

    &__slider-item-rating {
        margin: 15px 0 14px;

        @media (max-width: 767px) {
            margin-top: 12px;
            margin-bottom: 20px;
        }

        li + li {
            margin-left: 2px;
        }
    }

    // .reviews-masters__slider-item-text

    &__slider-item-text {
        @media (max-width: 767px) {
            //max-width: 60%;
            font-size: 16px;
            line-height: 19px;
        }

        @media (max-width: 767px) {
            max-width: 70%;
        }

        @media (max-width: 575px) {
            max-width: 100%;
        }
    }

    &__btn {
        position: absolute;
        width: 235px;
        right: 1px;
        bottom: 25px;
        padding-left: 25px;
        &:before {
            right: 57px;
            @media (max-width: 575px) {
                right: 29px;
            }
        }

        @media (max-width: 1500px) {
            left: 0;
            right: auto;
            bottom: 0;
        }

        @media (max-width: 575px) {
            bottom: 1px;
            width: 100%;
            right: 0;
            left: 0;
            @include flex-end;
            padding-right: 64px;
        }
    }
}
