.footer {
    display: none;
    background-color: #000;
    color: #fff;
    padding: 25* 100vh / 1000 15 * 100vw / 1920 30 * 100vh / 1000 40 * 100vw / 1920;
    height: 431 * 100vh / 1000;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 992px) {
        width: 100%;
        display: block;
        flex-wrap: wrap;
        padding: 28px 20px 25px;
        font-weight: 300;
        height: auto;
    }

    &__info-items {
        @include column;
        margin-bottom: 24 * 100vh / 1000;

        @media (max-width: 992px) {
            flex-direction: row;
            justify-content: space-between;
            font-weight: 300;
            margin-bottom: 23px;
        }

        @media (max-width: 375px) {
            flex-direction: column;
        }
    }

    &__info-item {
        font-weight: 300;
        font-size: 12 * 100vw / 1920;
        line-height: 14 * 100vw / 1920;

        @media (max-width: 992px) {
            width: 50%;
            font-size: 12px;
            line-height: 14px;
        }

        @media(max-width: 374px) {
            width: 100%;
        }

        &:first-child {
            @media (max-width: 992px) {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    &__info-item+&__info-item {
        margin-top: 28px;

        @media (max-width: 992px) {
            margin-bottom: 0;
        }

        @media (max-width: 575px) {
            margin-left: 24px;
        }

        @media (max-width: 375px) {
            margin-left: 0;
            margin-top: 15px;
        }
    }

    // .footer__socials

    &__social {
        margin-bottom: 30 * 100vh / 1000;

        @media (max-width: 767px) {
            margin-bottom: 28px;
        }
    }

    // .footer__socials-item

    &__social-item {
        width: 16 * 100vw / 1920;
        height: 16 * 100vw / 1920;

        @media (max-width: 992px) {
            width: 30px;
            height: 30px;
        }
    }

    &__social-item+&__social-item {
        margin-left: 10 * 100vw / 1920;

        @media (max-width: 992px) {
            margin-left: 30px;
        }
    }

    &__social-link {
        display: inline-block;

        &:before {
            font-size: 16 * 100vw / 1920;

            @media (max-width: 992px) {
                font-size: 30px;
            }
        }

        &:hover:before {
            color: $accent;
        }

        &.icon-vk:before {
            font-size: 10 * 100vw / 1920;

            @media (max-width: 992px) {
                font-size: 19px;
            }
        }
    }

    &__social-img {
        @media (max-width: 992px) {
            width: 30px;
            height: 30px;
        }
    }

    // .footer__address

    &__address {
        @media (max-width: 767px) {
            margin-bottom: 17px;
        }
    }

    // .footer__contacts

    &__contacts {
        margin-bottom: 20 * 100vh / 1000;

        @media (max-width: 992px) {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 34px;
        }
    }

    // .footer__contacts-link

    &__contacts-link {
        display: block;
        margin-bottom: 10 * 100vh / 1000;
        transition: 0.3s color;

        @media (any-hover: hover) {
            &:hover {
                color: $accent;
            }
        }

        @media (max-width: 992px) {
            margin-right: 30px;
        }

        &:last-child {
            margin-bottom: 0;

            @media (max-width: 992px) {
                margin-right: 0;
            }
        }
    }

    &__contacts-link+&__contacts-link {
        margin-top: 5 * 100vh / 1000;

        @media (max-width: 992px) {
            margin-top: 0;
        }
    }

    // .footer__timetable

    &__timetable {
        span {
            @media (max-width: 575px) {
                display: none;
            }
        }
    }

    // .footer__developer

    &__developer {
        font-weight: 400;
        font-size: 14 * 100vw / 1920;
        line-height: 16 * 100vw / 1920;

        @media(max-width: 992px) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__address,
    &__unp {
        margin-bottom: 8 * 100vh / 1000;

        @media(max-width: 992px) {
            margin-bottom: 8px;
        }

        span {
            @media (max-width: 992px) {
                display: block;
            }
        }
    }

    &__unp {
        @media (max-width: 767px) {
            margin-bottom: 11px;
        }
    }
}