.page {
    position: relative;
    @include column;
    align-items: flex-end;
    overflow-x: hidden;

    &__title {
        margin-top: 41px;

        @media (max-width:991px) {
            margin-top: 40px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        margin-top: 41px;

        @media (max-width:991px) {
            margin-top: 40px;
        }
    }
}

.section {
    position: relative;
    width: calc(100% - 256px);

    @media (max-width:991px) {
        width: 100%;
    }
}

.grid {
    display: grid;
}

.input {
    font-size: 14px;
    line-height: 16px;
}

.video {
    position: relative;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        @include centerY;
        left: calc(50% - 80px / 2);
        width: 80px;
        height: 81px;
        background-image: url("../img/icons/video-player.svg");
    }
}

@import "../components/buttons";
@import "../components/titles";
@import "../components/tabs";
@import "../components/list";
@import "../components/simple-rating";
@import "../components/slider";
@import "../components/breadcrumbs";