@import './vars';
@import './mixins';
@import './fonts';
@import './iconsfont';

@import './grid';

.wrapper {
    position: relative;
    overflow-x: hidden;
}

.ibg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page {
    padding-left: $sidebar;

    @media(max-width: 992px) {
        padding-left: 0;
    }

    &__title {
        margin-top: 46.5 * 100vw / 1920;

        @media (max-width: 992px) {
            margin-top: 40px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        margin-top: 41 * 100vw / 1920;

        @media (max-width: 992px) {
            margin-top: 40px;
        }
    }

    .header {
        display: none;

        @media(max-width: 992px) {
            display: flex;
        }
    }
}

$content: 100vw - $sidebar;

@import '../components/components';