* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18 * 100vw / 1920;
    line-height: 21 * 100vw / 1920;
    color: #000;

    &._lock {
        overflow-y: hidden;
    }

    @media(max-width: 992px) {
        font-size: 18px;
        line-height: 21px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

ol,
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

input,
textarea {
    cursor: default;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

textarea {
    resize: none;
}

address {
    font-style: normal;
}

figure {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}