// colors
$accent:#FFD600;
$black-bg: rgba(0, 0, 0, 0.77);
$dark-bg: #1C1C1C;
$card-bg: #262626;
$gray-bg: #393939;
$light: #F2F2F2;
$overlay: rgba(0, 0, 0, 0.44);
$dark-gradient: radial-gradient(79.97% 294.82% at 5.18% 92.9%, #000000 0%, rgba(0, 0, 0, 0.7) 100%);

$sidebar: 256 * 100vw / 1920;